<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for supporting Cat Facts.com!</h1>


    <p>
      Here is your hourly cat fact!  Did you know that...
    </p>
    <p>
      <%= @fact %>
    </p>
    <p>
     If you recieved this message in error, <%= link_to("click here to unsuscribe.", "http://hyundaidealer.com") %><br/>
    </p>
    </body>
</html>

